.card{
    margin:0 auto;
    border: 2px solid;
    border-radius: 10px;
    width: 40%;
    height: 30%;
    margin-top: 3%;
    font-family:sans-serif;
    margin-bottom: 5%;
    border-color: #CB6363;
}

/*Spinner ortalama*/
.spinner-border {
    display: block;
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: calc( 50% - ( 50px / 2) ); /* where ... is the element's height */
    right: calc( 50% - ( 50px / 2) ); 
   

}

.card h3{
padding-top: 3%;
font-style: bold;
text-align: center;
color: #2C3E50;
}

.card img{
    margin:0 auto;
    width: 30%;

}

.card p{
padding-top: 5px;
padding-left: 15px;
color: #2C3E50;
font-size: 18px;

}